.login-form-container {
  background: white;
  width: 400px;
  height: 300px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -150px;

  .content {
    padding:10px;
  }
}
