.errorHeader {
  font-size:16px;
}

.label {
  color: #cecece;
  font-size: 12px;
}


.content {
  padding:10px;
}

.row {
  margin-top:10px;
}


.buttonContainer {
  border-top:1px solid #cecece;
  padding-top:10px;
}
