header {
  display:block;
  border-bottom:1px solid #cecece;
  font-weight:bold;

  .content {
    display:inline-block;
    width:100%;
    padding: 10px;
    margin-bottom: -5px;
    color: #a5a5a5;

    .left {
      float:left;
    }
    .right {
      float:right;
      
      .link {
        float:left;
        margin:0 10px;
      }

    }
  }
}
