.inputLine {
  margin-bottom:20px;

  input {
      width:100%;
      padding:0px;
      font-size:26px;
      color:#cccccc;
      border: 1px solid #cccccc;

      //hover
      &:hover {
        border: 1px solid #cecece
      }

      //focus
      &:focus {
        border: 1px solid #cecece;
        outline: 2px solid #a9a7a759;
      }

    }
}
